.link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 16px;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.profileImage {
  margin-top: 6px;
  transition: all 0.15s ease-in-out;
}

.profileImage:hover {
  cursor: pointer;
  opacity: 0.8;
}
