.container {
  min-height: 75vh;
  min-width: 96vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  contain: paint;
  align-items: center;
  align-self: center;
  text-align: center;
  max-width: 100vw;
  margin-top: 20px;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.cutty-baby {
  animation: moveUpDown 5s ease-in-out infinite alternate;
}

@media (max-width: 640px) {
  .container {
    min-height: 0vh;
    min-width: none;
  }
}

@media (min-width: 641px) and (max-width: 991px) {
  .container {
    min-height: 40vh;
  }
}

@media (min-width: 992px) and (max-width: 1017px) {
  .container {
    min-height: 50vh;
  }
}

@media (min-width: 1018px) and (max-width: 1059px) {
  .container {
    min-height: 65vh;
  }
}
